In [1]:
import intake
from easygems import healpix as egh
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Open catalog
cat = intake.open_catalog("https://digital-earths-global-hackathon.github.io/catalog/catalog.yaml")["online"]
#Â list(cat)

In [3]:
ds = cat["um_glm_n2560_RAL3p3"](zoom = 0).to_dask()

/home/pmauger/miniconda3/envs/HK25/lib/python3.12/site-packages/intake_xarray/base.py:21: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  'dims': dict(self._ds.dims),

In [4]:
# Create a list to store rows
data = []

# Loop through dataset variables
for var in ds.data_vars:
    name = var
    desc = ds[var].attrs.get('long_name', var).replace('_', ' ').title()
    unit = ds[var].attrs.get('units', '')
    data.append([name, desc, unit])

# Create and print the DataFrame
df = pd.DataFrame(data, columns=["Variable Name", "Description", "Unit"])

# Display DataFrame with left-aligned headers and content
display(df.style.set_properties(**{'text-align': 'left'})
            .set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}]))